.groceries_card {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px;
    background: #f9d8ea;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    padding: 5px;
}

.department_container {
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 16px;
    padding: 15px;
}

.department {
    display: inline-block;
    background-color: #f1eeff;
    color: #6558d3;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
}

.ingredient_container {
    padding: 0.5em 0.75em;
    height: 150px;
    overflow: hidden;
}

.ingredient_container.active {
    height: auto;
    transform: translateY(0);
}

.ingredient {
    line-height: 2em;
    font-family: "Source Sans Pro", sans-serif;
}

.ingredient i {
    color: #6558d3;
    margin-right: 8px;
}

.toggle {
    position: relative;
    float: right;
    width: 20px;
    background-color: #f1eeff;
    border-radius: 3rem;
    padding: 3px;
    text-align: center;
    color: #6558d3;
}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
