.groceries_card {
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px;
    background-color: #d5cdf7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 50px;
    padding: 5px;
}

.department_container {
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 16px;
    padding: 15px;
}

.department {
    display: inline-block;
    background-color: #f1eeff;
    color: #6558d3;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
}

.ingredient_container {
    padding: 0.5em 0.75em;
    height: 150px;
    overflow: hidden;
}

.ingredient_container.active {
    height: auto;
    transform: translateY(0);
}

.ingredient {
    line-height: 2em;
    font-family: "Source Sans Pro", sans-serif;
}

.ingredient i {
    color: #6558d3;
    margin-right: 8px;
}

.icon-inactive {
    padding: 14px 16px;
}

.toggle {
    position: relative;
    float: right;
    width: 20px;
    background-color: #f1eeff;
    border-radius: 3rem;
    padding: 3px;
    text-align: center;
    color: #6558d3;
}

.empty-list {
    padding: 10px 50px;
}
