.container {
    margin: 0 auto;
    padding: 0 50px;
}

.wrapper-block {
    display: flex;
    flex-direction: column;
}

.block-left {
    float: left;
    margin: 0 auto;
}

.block-right {
    float: right;
    margin: 0 auto;
    width: auto;
}
