.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(220, 217, 248, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    left: 0px;
    top: 0;
    overflow: auto;
}

.modal-container {
    width: 900px;
    height: auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.modal-container .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
}

.close-btn {
    display: flex;
    justify-content: flex-end;
}

.close-btn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

i {
    color: #6558d3;
}

.modal-container .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.recipe-image {
    width: 250px;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.recipe-title {
    font-size: 25px;
    font-weight: bold;
    padding: 0 80px;
    color: #6558d3;
}

.instructions-container {
    margin-top: 50px;
    padding: 20px;
}

.section {
    text-align: start;
    padding-left: 40px;
    font-size: 22px;
    font-weight: bold;
}

.instructions {
    padding: 0 40px;
    font-size: 18px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 1000px) {
    .modal-container {
        width: auto;
        margin-left: 150px;
        margin-right: 150px;
        padding: 25px;
        height: auto;
    }

    .modal-container .body {
        flex-direction: column;
    }

    .recipe-image {
        height: auto;
    }

    .instructions {
        padding: 0 40px;
        font-size: 18px;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 40;
        -webkit-box-orient: vertical;
    }

    .recipe-6 {
        margin-top: 100px;
    }

    .recipe-7 {
        margin-top: 200px;
    }
}

@media screen and (max-width: 800px) {
    .modal-container {
        width: auto;
        margin-left: 100px;
        margin-right: 100px;
        padding: 25px;
        height: auto;
    }

    .recipe-title {
        padding: 0 30px;
        font-size: 20px;
    }

    .section {
        font-size: 18px;
    }

    .instructions {
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 40;
        -webkit-box-orient: vertical;
    }

    .instructions-container {
        padding: 0;
    }

    .recipe-6 {
        margin-top: 150px;
    }

    .recipe-7 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    .modal-container {
        width: auto;
        margin-left: 80px;
        margin-right: 80px;
        padding: 25px;
    }

    .recipe-title {
        padding: 0 30px;
        font-size: 20px;
    }

    .section {
        font-size: 18px;
    }

    .instructions {
        font-size: 15px;
    }

    .instructions-container {
        padding: 0;
    }

    .recipe-6 {
        margin-top: 450px;
    }

    .recipe-7 {
        margin-top: 120px;
    }
}

@media screen and (max-height: 700px) {
    .modal-container {
        width: auto;
        margin-left: 150px;
        margin-right: 150px;
        padding: 25px;
        height: auto;
        margin-top: 400px;
    }
}
