body {
    font-family: "Open Sans", sans-serif;
    background-color: #f3f5ff;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 4em;
    margin: 0;
    text-align: center;
}

.title-wrapper {
    margin: 0 auto;
}

.title {
    margin-left: 55px;
    font-size: 2em;
}

.title-hover-line {
    opacity: 0;
    width: 0px;
    transition: opacity 200ms ease 0s, width 200ms ease 0s;
    position: relative;
    top: 5px;
    height: 6px;
    background-image: linear-gradient(90deg, #cc72db, #737cdf);
    animation-duration: 3s;
    animation-name: glissement;
    animation-fill-mode: forwards;
}

@keyframes glissement {
    from {
        width: 0px;
    }

    to {
        width: 150px;
        opacity: 1;
    }
}

.carousel {
    margin: 0 auto;
    width: 1000px;
}

@media screen and (max-width: 2400px) {
    .carousel {
        width: 1500px;
    }
}

@media screen and (max-width: 1600px) {
    .carousel {
        width: 1200px;
    }
}

@media screen and (max-width: 1300px) {
    .carousel {
        width: 800px;
    }
}

@media screen and (max-width: 900px) {
    .carousel {
        width: 400px;
    }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card {
    border-radius: 16px;
    margin: 1em;
    cursor: pointer;
    box-shadow: 0 30px 30px -25px rgba(#4133b7, 0.25);
    background-color: white;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.image {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.recipe-name {
    color: #222;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    height: 100px;
}

.serving {
    color: #072cfa;
    margin: 15px;
    font-size: 1em;
    font-weight: 500;
}

.button {
    background: #ddf3ff;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 3px;
    text-align: center;
    width: 120px;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.button:hover {
    background-color: #d5cdf7;
    color: #6558d3;
}

button i {
    margin-left: 5px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
