.info-card {
    width: 1900px;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 50px;

    background: #f9d8ea;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
